@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

button,input[type=checkbox] { 
    cursor: pointer;
}
input:disabled , button:disabled , select:disabled {
    opacity: 0.5;
}

/* button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #45a049;
} */

input {
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    font-size: 16px;
    /* width: 100%; */
    box-sizing: border-box;
}


@keyframes BottomToTop {
    0% {transform: scaleY(1);}
    100%   {transform: scaleY(0);}
}
@keyframes topToBottom {
    0%   {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.dropDown_Product {
    position: absolute;
    top: 18px;
    right: 0;
    min-width: 200px;
    background-color: transparent;
    padding-top: 22px;
    color: #333;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transform-origin: top;
    animation-name: topToBottom;
    animation-duration: 0.4s;
    animation-direction: normal;

}

















.golden-button {
  touch-action: manipulation;
  display: inline-block;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: 0.3em;
  height: 2.75em;
  line-height: 2.5em;
  text-transform: uppercase;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
    inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  background-image: linear-gradient(
    160deg,
    #a54e07,
    #b47e11,
    #fef1a2,
    #bc881b,
    #a54e07
  );
  border: 1px solid #a55d07;
  color: rgb(120, 50, 5);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-size: 100% 100%;
  background-position: center;
}

.golden-button:focus,
.golden-button:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
    inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  border: 1px solid rgba(165, 93, 7, 0.6);
  color: rgba(120, 50, 5, 0.8);
}

.golden-button:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
}











.custom-shape-divider-bottom-1747395210 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1747395210 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 214px;
}

.custom-shape-divider-bottom-1747395210 .shape-fill {
    fill: #374260;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1747395210 svg {
        width: calc(300% + 1.3px);
        height: 240px;
    }
}








.custom-shape-divider-bottom-1747396217 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1747396217 svg {
    position: relative;
    display: block;
    width: calc(171% + 1.3px);
    height: 129px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1747396217 .shape-fill {
    fill: #374260;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1747396217 svg {
        width: calc(300% + 1.3px);
        height: 240px;
    }
}




