@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #d28711;
    --color-primary-10: #e7a233;
    --color-primary-1: lightgoldenrodyellow;
    --color-secondary: #023f6f;
    --color-secondary-10: #739ebf;
    --color-card: #1f2937;
    --color-card-10: #f3f4f6;
    --color-bgm: #111827;
    /* --text-md: 10px; */
}

/* block py-2 pl-3 pr-4 md:p-0 border-b border-gray-100 text-gray-700 hover:bg-gray-50 md:border-0 md:hover:bg-transparent md:hover:text-primary-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent md:dark:hover:text-white */
@layer utilities {

    .head-1 {
        @apply text-xl md:text-3xl font-bold text-primary dark:text-primary-10;
    }

    .head-21 {
        @apply text-lg md:text-2xl font-bold text-secondary dark:text-secondary-10; 
    }

    .head-22 {
        @apply text-base md:text-lg font-bold text-secondary dark:text-secondary-10; 
    }

    .desc{
        @apply text-gray-700 dark:text-gray-200;
    }

/* form button */
    .fButton {
        @apply w-full text-white bg-primary hover:bg-primary-10 focus:ring-4 focus:ring-primary font-medium rounded-lg text-sm px-2 sm:px-4 py-2
                            dark:bg-primary dark:hover:bg-primary-10 focus:outline-none dark:focus:ring-primary-10;
    }
    .menu__link {
    @apply relative dark:text-white hover:text-[#cf8714] before:content-[''] before:absolute before:bottom-[-0.25rem] 
    before:left-0 before:h-[2px] before:w-0 before:rounded before:bg-[#cf8714] before:transition-all 
    before:duration-500 hover:before:w-full
    py-4 pl-3 pr-4 md:p-0 border-b border-gray-700 md:border-0
    ;
    }
    .active__link {
    @apply relative  text-[#cf8714] before:content-[''] before:absolute before:bottom-[-0.25rem] 
    before:left-0 before:h-[2px] before:rounded before:bg-[#cf8714] before:transition-all before:w-full
    py-4 pl-3 pr-4 md:p-0  md:border-0 ;
    }
    .paddingX {
    @apply sm:px-16 px-6;
    }

    .paddingY {
    @apply sm:py-16 py-6;
    }
}

button,input[type=checkbox] { 
    cursor: pointer;
}
input:disabled , button:disabled , select:disabled {
    opacity: 0.5;
}


input {
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    font-size: 16px;
    /* width: 100%; */
    box-sizing: border-box;
}


@keyframes BottomToTop {
    0% {transform: scaleY(1);}
    100%   {transform: scaleY(0);}
}
@keyframes topToBottom {
    0%   {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.dropDown_Cart {
    position: absolute;
    top: 18px;
    right: 0;
    min-width: 200px;
    padding-top: 22px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transform-origin: top;
    animation-name: topToBottom;
    animation-duration: 0.4s;
    animation-direction: normal;
}
@media (max-width: 767px) {
    .dropDown_Cart {
        right: -200px;
        top: 30px;
    }
}
.dropDown_normal{
    transform-origin: top;
    animation-name: topToBottom;
    animation-duration: 0.4s;
    animation-direction: normal;
}
.dropDown_Product {
    position: absolute;
    top: 18px;
    right: 0;
    min-width: 200px;
    background-color: transparent;
    padding-top: 22px;
    color: #333;
    box-shadow: 0px 20px 8px 0px #0000000f;
    z-index: 1000;
    transform-origin: top;
    animation-name: topToBottom;
    animation-duration: 0.4s;
    animation-direction: normal;
}



.custom-shape-divider-bottom-1747395210 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1747395210 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 214px;
}

.custom-shape-divider-bottom-1747395210 .shape-fill {
    fill: #374260;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1747395210 svg {
        width: calc(300% + 1.3px);
        height: 240px;
    }
}








.custom-shape-divider-bottom-1747396217 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1747396217 svg {
    position: relative;
    display: block;
    width: calc(171% + 1.3px);
    height: 129px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1747396217 .shape-fill {
    fill: #374260;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1747396217 svg {
        width: calc(300% + 1.3px);
        height: 240px;
    }
}



@keyframes headerSection {
    0%   {    width: calc(100% + 1.3px); height: 75px;}
    50%   {    width: calc(125% + 1.3px);height: 20px;}
    100%   {    width: calc(100% + 1.3px);height: 75px;}
    
}

/* Hero section */
.custom-shape-divider-top-1747581643 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1747581643 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    /* animation: headerSection 0.7s ease-in-out normal; */
    /* 300% on mobile */
    height: 75px;
}

@media screen and (max-width: 780px) {
.custom-shape-divider-top-1747581643 svg {
    width: calc(130% + 1.3px); 
    }
        .custom-shape-divider-top-1747581643 svg {
        height: 40px;
    }
}
.custom-shape-divider-top-1747581643 .shape-fill {
    fill: #ffffff;
}

.dark .custom-shape-divider-top-1747581643 .shape-fill {
    fill: #1f2937; 
}



/* footer section */
.custom-shape-divider-top-55555555555 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-55555555555 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px); 
    /* 300% on mobile */
    height: 75px;
}

@media screen and (max-width: 780px) {
.custom-shape-divider-top-55555555555 svg {
    width: calc(230% + 1.3px); 
    }

}
.custom-shape-divider-top-55555555555 .shape-fill {
    fill: #ffffff;
}

.dark .custom-shape-divider-top-55555555555 .shape-fill {
    fill: var(--color-bgm); 
}









.custom-shape-divider-bottom-1749044904 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 1;
}

.custom-shape-divider-bottom-1749044904 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
}

.custom-shape-divider-bottom-1749044904 .shape-fill {
    fill: #F3F4F6;
}
.dark .custom-shape-divider-bottom-1749044904 .shape-fill {
    fill: var(--color-card); 
}









.custom-shape-divider-top-1749048043 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1749048043 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
}

.custom-shape-divider-top-1749048043 .shape-fill {
    fill: #FFFFFF;
}
.dark .custom-shape-divider-top-1749048043 .shape-fill {
        fill: var(--color-bgm); 
}
/* bottom Triangle */
.custom-shape-divider-bottom-1749046574 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1749046574 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
}

.custom-shape-divider-bottom-1749046574 .shape-fill {
    fill: #FFFFFF;
}

.dark .custom-shape-divider-bottom-1749046574 .shape-fill {
    fill: var(--color-bgm); 
}

@keyframes marquee {
    0% {
    transform: translateX(0%);
    }
    100% {
    transform: translateX(-33.3333%);
    }
}

.animate-marquee {
    animation: marquee 30s linear infinite;
    will-change: transform;
}

@keyframes topToBottom {
    0%   {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
@keyframes BottomToTop {
    0% {transform: scaleY(1);}
    100%   {transform: scaleY(0);}
}
@keyframes rightToleft {
    0%   {transform: scaleX(0);}
    100% {transform: scalex(1);}
}

@keyframes opacityFull {
    0%   {opacity: 0;transform: translateY(50px);}
    100%   {opacity: 1;transform: translateY(0px);}
}
@keyframes opacityHidden {
    0%   {opacity: 1;transform: translateY(50px);}
    100%   {opacity: 0;transform: translateY(0px);}
}

.opacityfull {
    animation-name: opacityFull;
    animation-duration: 0.7s;
    animation-direction: normal;
}
.opacityhidden {
    animation-name: opacityHidden;
    animation-duration: 0.7s;
    animation-direction: normal;
}